html{
    height: 100%;
    overflow: hidden;
}
body {
    background-color: #1a1a1a;
    background: repeating-linear-gradient(#0d0d0d, #1a1a1a 2px, #0d0d0d 4px);
    color: #03A062;
    font-family: monospace;
    height: 100%;
}

.buttons{
    text-align: center;
}

button{
    font-size: 40px;
    font-family: monospace;
    margin: 10px 0 10px 0;
    border: 2px solid #03A062;
    background-color: transparent;
    color: #03A062;
}

#remember{
    padding: 3px 5px;
}

#wrap {
    border: 2px solid #03A062;
    height: 50vh;
    width: 40vw;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#date {
    height: 5vh;
    text-align: center;
    font-size: 3em;
    padding: 15px;
}

#blurb{
    height: 45vh;
    text-align: left;
    font-size: 1.5em;
    padding: 5px;
}
